<div class="text-center mx-auto">
  <div class="wrapper-five-and-rest">
    <div class="rest-of-five d-inline-block">
      <div class="wrapper-three-and-rest">
        <div class="rest-of-three">
          <div class="wrapper-two-and-rest d-block">
            <div class="two d-inline-block align-top size2 square">
              2
            </div>
            <div class="rest-of-two d-inline-block">
              <div class="wrapper-one-and-rest d-block">
                <div class="one size1 square">
                  1
                </div>
                <div class="one size1 square">
                  1
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="three size3 square">
          3
        </div>
      </div>
    </div>
    <div class="five d-inline-block align-top size5 square">
      5
    </div>
  </div>
</div>
