<div class="container">
  <div class="d-flex border border-2 border-dark-subtle">
    <div class="flex-grow-1">
      <div class="d-flex">
        <div class="w-66 align-top">
          <app-clock-element id="2"></app-clock-element>
        </div>
        <div class="flex-grow-1">
          <div class="square">
            <app-clock-element id="1.1"></app-clock-element>
          </div>
          <div class="square">
            <app-clock-element id="1.2"></app-clock-element>
          </div>
        </div>
      </div>
      <div class="square">
        <app-clock-element id="3"></app-clock-element>
      </div>
    </div>
    <div class="w-62 align-top square">
      <app-clock-element id="5"></app-clock-element>
    </div>
  </div>
</div>
